{% extends 'base.html'%}
{% block title %} Add User {% endblock title %}
{% block mystyles %}
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static  'adduser.css' now 'U' %}">

{% endblock mystyles %}

{% block content %}

	<div class="container jumbotron">
		<div class="form-group">
			<h1> Add Employee </h1>
		</div>

		<form class="form-horizontal formpos" action="" method="POST">
			{% csrf_token %}	

			<!-- Name -->
				
			<div class="input-group mb-3">
				<label class="form-check-label">Employee ID &nbsp; </label>
			    <div class="input-group-prepend">
			      <span class="input-group-text fa fa-vcard"></span>
			    </div>
			    {{form.eid}}
			 </div>
				
				<!-- FName -->
				
			<div class="input-group mb-3">
				<label class="form-check-label">FirstName </label>
			    <div class="input-group-prepend">
			      <span class="input-group-text fa fa-user"></span>
			    </div>
			    {{form.fname}}
			  </div>
				
				<!-- LName -->
				
			<div class="input-group mb-3">
				<label class="form-check-label">LastName </label>
			    <div class="input-group-prepend">
			      <span class="input-group-text fa fa-user"></span>
			    </div>
			    {{form.lname}}
			  </div>
				
				<!-- Email -->
				
			<div class="input-group mb-3">
				<label class="form-check-label">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				</label>
			    <div class="input-group-prepend">
			      <span class="input-group-text fa fa-envelope-o"></span>
			    </div>
			    {{form.email}}
				  </div>

					<!-- Submit Button -->
			
			<!-- Add Employee Buttom -->
			
			<div class="form-group input-group">
				<button type="submit" class="btn btn-success btnadd" required> Add Employee</button>
			</div>
					<!--  -->
		</form>
	
		
	</div>
{% endblock content %}


