{% extends 'base.html'%}
{% block title %} ALL Questions {% endblock title %}
{% block mystyles %}
{% endblock mystyles %}

{% block content %}
	<!-- Start OF TABLE -->
	<div class="tabledata"> 
						 	
		<table class="table ">
			<!-- Table Header -->
			<tr>
				<th>Qustion Id</th>
				<th>Question </th>
				<th colspan="3">Actions </th>
				<!-- <th colspan="4">Contact</th>						</tr>
			 End Table Header -->
			{% for question in questions %}

			<tr>
				<td align="center"> {{ question.qid }} </td>
				<td> {{ question.question }}  </td>				
				<!-- <td> {{ question.options }} </td> -->
				<td><a href="{% url 'QuestionDetail' question.qid %}"><span class="fa fa-eye" title="view" ></span></a></td>
				<td><a href="{% url 'QuestionEdit' question.qid %}"><span class="fa fa-pencil" title="edit" ></span></a></td>
				<td><a href="{% url 'QuestionDelete' question.qid %}"><span class="fa fa-trash" title="delete"></span></a></td>
				
			</tr>
			{% endfor %}
			<!--  -->

		</table>
			
	</div>	
	<!-- End OF TABLE -->

{% endblock content %}