{% extends 'base.html'%}
{% block title %} Users Data {% endblock title %}
{% block content %}
	<!-- Start OF TABLE -->

	<div class="tabledata"> 
						 	
		<table class="table ">
			<!-- Table Header -->
			<tr>
				<th > Question </th>
				<th>User Name</th>
				<th colspan="1">Response</th>				
				
			</tr>
			<!-- End Table Header -->
			{% for response in responses %}

			<tr>
				<td align="center"> {{ response.qid.question }} </td>
				<td> {{ response.uid.fname }}  {{ response.uid.lname }}  </td>
				<td> {{ response.uresponse }} </td>
				
				
			</tr>
			{% endfor %}
			<!--  -->


		</table>
		
	
	</div>	
	<!-- End OF TABLE -->

{% endblock content %}	

